/jdbc/nbproject/private/
/jdbc/build/
/jdbc/dist/
/jdbc/target/
/JdbcConnection/nbproject/private/
/JdbcConnection/build/
/jdbc-metadata/target/
/talking-to-database-java/target/
/AccessConnection/nbproject/private/
/AccessConnection/build/
/AccessConnection/dist/
/accessDB/nbproject/private/
/SalesSystem/build/
/inventoryCalcuation/nbproject/private/
/inventoryCalcuation/build/